{% extends 'base.html.twig' %}

{% block body %}

	<div class="container" id="main">

		<div class="alert alert-secondary" role="alert">
			<h3>Résumé de votre situation</h3>
		</div>
		
		<table class="table">
			<thead class="thead-light">
				<tr>
					<th scope="col">Numéro de compte</th>
					<th scope="col">Solde (en €)</th>
				</tr>
			</thead>
			<tbody>
				{% for compte in liste_des_comptes %} 
					<tr>
						<td>{{ compte.numero }}</td>
						<td>{{ compte.solde }} €</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

{% endblock %}
